@charset "utf-8";
/*--------------------------------
 共通部分
------------------------------- */
html {
  font-size: 100%;
}
body{
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  line-height: 1.7;
  color: #333;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.section {
  padding: 90px 0;
}
.section:nth-of-type(odd) {
  background-color: #faf5eb;
}
/*--------------------------------
 大きな背景画像
------------------------------- */
.big-bg {
  background-size: 85vh;
  background-position: center top;
  background-repeat: no-repeat;  
}
/*--------------------------------
 見出し
------------------------------- */
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin: 100px 0;
  text-align: center;
  color: #333;
}
/*--------------------------------
 HEADER
------------------------------- */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
.header-logo {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}
.header-logo a {
  color: #333;
}
.header-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px 0 10% ;
  list-style: none;
}
.header-nav li {
  margin-left: 36px;
}
.header-nav a {
  color: #432;
}
.header-nav a:hover {
  color: #0bd;
}
/*--------------------------------
 メインビジュアル
---------------------------------*/
.main-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: auto;
  text-align: center;
}
.main-visual-inner {
  padding: 0 40px;
}
.main-visual-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: .1em;
}
.main-visual-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .08em;
}
/*--------------------------------
 WORK
------------------------------- */
.work-title {
  line-height: normal;
  text-align: center;
  border-bottom: dashed 1px;
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 100px 0;
}
/*--------------------------------
 WORK-PAGE
------------------------------- */
article {
  width: 100％;
  text-align: center;
  padding: 138px 0 50px;
  background-color: #faf5eb;
}
.work-page-title {
  font-size: 1.6rem;
    background: linear-gradient(transparent 50%, rgba(116, 174, 211, 0.5) 0%);
    display: inline-block;
    margin: 20px;
}
.work-content {
margin: 5% 10%; 
}
.work-comment {
  display: inline-block;
  text-align: left;
}
.title-border {
  display:inline-block;
  border-bottom: 2px solid #0bd;
  margin: 20px auto;
}

/*--------------------------------
 SKILL
------------------------------- */
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20%;
}
.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 45%;
  margin-bottom: 50px;
}
.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}
.skill-body {
  display: inline;
  flex: 1;
}
.skill-name {
  margin-bottom: 3px;
}
/*--------------------------------
 Profile
---------------------------------*/
.profile {
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.profile-name {
font-size: 24px;  
margin-bottom: 48px;
}
.profile-img {
float: right;
width: 20%;

}
.profile-img img {
  border-radius: 50%;
}
.profile-about-item {
  display: flex;
  margin-bottom: 24px;
  text-align: left;
}
.profile-about-head {
  flex: 0 0 30%;
  text-align: right;
}
.profile-about-body {
  margin-right: auto;
  padding-left: 20px;
  flex: 0 1 100%;
  width: 1px;
}
.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}
/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}
.contact-item:not(:last-child) {
  margin-right: 10px;
}
.contact-text {
  margin-top: 10px;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
} 
.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}